DEBUG=True
MONGODB_URI=mongodb://localhost:27017/bigredmacro
CORNELL_DINING_API_BASE=https://now.dining.cornell.edu/api/1.0
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
REDIS_URL=redis://localhost:6379/0
